<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-12 d-flex align-items-center p-4" style="gap: 20px;">
      <span class="fs-18 font-weight-bold">Resumen Operativo de la Flota</span>
      <div class="px-3 py-2 bg-celeste-transparent d-flex" style="gap: 10px;">
        <%= image_tag "calendar.svg" %>
        <span class="text-color-celeste">20/01/2024  00:00 - 26/01/2024  15:58</span>
      </div>
    </div>
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover custom-table">
          <thead>
            <tr>
              <th>Unidad</th>
              <th>Tiempo en movimiento (H:MM:SS)</th>
              <th>Tiempo en ralentí (H:MM:SS)</th>
              <th>Tiempo detenido (H:MM:SS)</th>
              <th>% en movimiento</th>
              <th>% en ralentí</th>
              <th>% en detenido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" class="text-center">No hay registros.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>